html { 
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background: #24252a;
 color: white;
 margin: 0;
 box-sizing: border-box;
 padding: 0;
 background-color: #24252a;
}



body {
    margin: 0;
}



.ingredients-title {
    font-size: xx-large;

}



.ingredients { 
    margin-top: 50px;
}


.title {
    text-align: center;
}