.item-card {
    border: 1px solid white;
    border-radius: 10px;
    width: 20%;
    padding: 20px;
    margin: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
}

.hello {
    color: lightblue;
    text-decoration: underline;
}

